<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ayesha-main ayesha-page","layout":{"type":"constrained"}} -->
<main class="wp-block-group ayesha-main ayesha-page"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->

<!-- wp:template-part {"slug":"sticky-bar","tagName":"div"} /-->
